parameters:
	ignoreErrors:
		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractCondition\\)\\:\\:XSI_TYPE_NAME\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractCondition.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractCondition\\)\\:\\:XSI_TYPE_NAMESPACE\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractCondition.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractCondition\\)\\:\\:XSI_TYPE_PREFIX\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractCondition.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractStatement\\)\\:\\:XSI_TYPE_NAME\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractStatement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractStatement\\)\\:\\:XSI_TYPE_NAMESPACE\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractStatement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractStatement\\)\\:\\:XSI_TYPE_PREFIX\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractStatement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractSubjectStatement\\)\\:\\:XSI_TYPE_NAME\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractSubjectStatement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractSubjectStatement\\)\\:\\:XSI_TYPE_NAMESPACE\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractSubjectStatement.php

		-
			message: "#^Access to undefined constant static\\(SimpleSAML\\\\SAML11\\\\XML\\\\saml\\\\AbstractSubjectStatement\\)\\:\\:XSI_TYPE_PREFIX\\.$#"
			count: 2
			path: src/SAML11/XML/saml/AbstractSubjectStatement.php
