parameters:
	ignoreErrors:
		-
			message: "#^Static property SimpleSAML\\\\Test\\\\SAML11\\\\XML\\\\saml\\\\AssertionTest\\:\\:\\$action is unused\\.$#"
			count: 1
			path: tests/src/SAML11/XML/saml/AssertionTest.php

		-
			message: "#^Static property SimpleSAML\\\\Test\\\\SAML11\\\\XML\\\\saml\\\\AssertionTest\\:\\:\\$authzDecisionStatement is unused\\.$#"
			count: 1
			path: tests/src/SAML11/XML/saml/AssertionTest.php

		-
			message: "#^Static property SimpleSAML\\\\Test\\\\SAML11\\\\XML\\\\saml\\\\EvidenceTest\\:\\:\\$action is unused\\.$#"
			count: 1
			path: tests/src/SAML11/XML/saml/EvidenceTest.php

		-
			message: "#^Static property SimpleSAML\\\\Test\\\\SAML11\\\\XML\\\\saml\\\\EvidenceTest\\:\\:\\$authzDecisionStatement is unused\\.$#"
			count: 1
			path: tests/src/SAML11/XML/saml/EvidenceTest.php
